@import url('./_features/main-subtitle_features.css');
@import url('./_review/main-subtitle_review.css');

.main-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;




}