.footer__social-item {

    width: 47px;
    height: 47px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: ease .2s;
}

.footer__social-item:hover {
    background-color: #a16901b7;
}